# Python
__pycache__/
*.py[codz]
*.so
venv/
.venv/
env/
ENV/
.env
.envrc

# Node.js / Next.js
node_modules/
.next/
out/
build/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# IDEs
.vscode/
.idea/
*.swp

# Sistema
.DS_Store
Thumbs.db